services:
  client:
    build:
      context: ./
      dockerfile: client/Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      server:
        condition: service_started
    volumes:
      - ./client:/client-app
        - /client-app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
      - VITE_HOST=0.0.0.0

  server:
    build:
      context: ./
      dockerfile: ./server/Dockerfile
    ports:
      - "${SERVER_PORT:-4000}:${SERVER_PORT:-4000}"
    volumes:
      - ./server:/server-app
    env_file:
      - path: .env
        required: true
    restart: unless-stopped

  # redis:
  #   image: redis:latest
  #   container_name: redis-sessions
  #   ports:
  #     - "6379:6379"
  #   volumes:
  #     - redis_data:/data
# volumes:
#   redis_data:
